 body {
    background-image:linear-gradient(to bottom, rgb(14, 25, 14), rgb(23, 31, 23)) ;
    max-width: 100%;
    height: 2000px;
    }

.intro {box-sizing: border-box;
        display: flex;
        width: 99%;
        border-radius: 20px;
        background-color: rgba(252, 253, 255, 0.748);
        justify-content: space-between;
        position: fixed;
        top: 10px;
        }

/* .background {
        background-image: linear-gradient(to top, black, rgb(25, 31, 25));
        max-width:100%;
        height: 500vh;
        } */

ol {
    list-style-type: none;
    display: flex;
    padding-right: 10px;
    gap: 25px;
    font-family: sans-serif;
    font-size: x-large;
    }

ol li a {
        display: inline-block;
        text-decoration: none;
        color: black;
        }

ol li {
        border: 7px solid transparent;
        transition: 1s;
        }

li:hover {
        background-color: rgba(58, 56, 56, 0.247);
        padding-left: 20px;
        padding-right: 20px;
        }

form {max-width: 34%;
    display: flex;
    gap: 15px;
    height: 40px;
    padding-top: 18px;
    position: absolute;
    left: 120px;
    }

[type="submit"] {
        width: 100px;
        border-radius: 20px;
        border-color: rgba(245, 245, 220, 0);
        border-color: black;
        background-color: rgba(36, 35, 35, 0.13);
        }

[type="search"] {
        width: 700px;
        border-radius: 20px;
        border-color: rgba(245, 245, 220, 0);
        background-color: rgba(36, 35, 35, 0.13);
        border-color: black;
        padding-left: 10px;
        font-family: sans-serif;
        font-size: large;
        }

[type="submit"]:hover {
        border-color: black;
        background-color: rgba(36, 35, 35, 0.247);
        transition: 1s;
        }

[type="search"]:hover {
        border-color: black;
        background-color: rgba(36, 35, 35, 0.363);
        transition: 1s;
        }

.header {
    position: relative;max-width: 100%;
    }

/* [src="./image/jon vai.jpg"] {
        position: absolute;
        top: 200px;
        right:25% ;
        } */

.title {position: absolute;
        top: 10%;
        left: 9%;
        color: #111111;
        }
h1{font-family: "Josefin Sans", sans-serif; font-size: 80px;}
h2{font-family: "Josefin Sans", sans-serif; font-size: 60px;}
.title > p{font-size: 30px; font-family: "Pacifico", cursive; }
.hc{ 
  max-width: 250px;
  height: 280px;}

.jon{ font-size: 50px; color: #fff; position: absolute; flex-direction: column; top: 20%; right: 16%;}
